<h1>Hey! You will find your task list here.</h1>

<% @task_list.each do |task| %>
<ul>
  <li><%= task.name %></li>
  <li><%= task.description %></li>
  <li><%= task.due_date %></li>
</ul>
<%= link_to "View details", manager_task_path(task) %>
<hr/>
<% end %>


